<connectionStrings>
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-VTC365-20130325092532;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-VTC365-20130325092532.mdf" />
  <!--Server=THANGNN\SQLEXPRESS;User ID=sa;Password=nnt;Database=AppManagement;/ key=app-->
  <add name="AppManagement" providerName="System.Data.SqlClient" connectionString="SC5kmb9uvV82Bp5duWXEnfsdmi7wLWt72Vv5RTsrbaEbPQDU/HOnLoHUsWRyj6Gr3T3+u58VvjbJYNECB2NkNc1BFvZHTqXFGE5w+rS4RTw=" />
</connectionStrings>